* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner */

.banner-cont {
    height: 100vh;
    width: 100%;
    background-image: url("/images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    color: black;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: black;
    margin-right: 100px;
    margin-bottom: 20px;
}

.banner-des {
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin-right: 100px;
}

.btn-primary {
    padding: 16px 35px;
    border: none;
    font-size: 18px;
    color: beige;
    background-color: purple;
    margin-right: 100px;
    margin-top: 20px;
}

/* my-failures */

.my-failures {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.failure {
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-left: 50px;
}

.failure-title {
    font-weight: 900;
    font-size: 40px;
    color: black;
}

.failure-des {
    font-weight: 400;
    font-size: 16px;
    color: darkslategray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unicode::before {
    content: '\2714 \fe0e';
    color: green;
}

.unicode {
    color: darkslategray;
}

/* my plans */
.head {
    margin: 0 auto;
    max-width: 1140px;
    font-weight: 900;
    font-size: 40px;
    color: black;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.my-plans {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.plan-head {
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.plan-des {
    font-weight: 300;
    font-size: 20px;
    color: darkslategray;
}
