* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner */

.banner-cont {
    height: 100vh;
    width: 100%;
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    color: black;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: black;
    margin-right: 100px;
    margin-bottom: 20px;
}

.banner-des {
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin-right: 100px;
}

.btn-primary {
    padding: 16px 35px;
    border: none;
    font-size: 18px;
    color: beige;
    background-color: purple;
    margin-right: 100px;
    margin-top: 20px;
}

/* my-failures */

.my-failures {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.failure {
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-left: 50px;
}

.failure-title {
    font-weight: 900;
    font-size: 40px;
    color: black;
}

.failure-des {
    font-weight: 400;
    font-size: 16px;
    color: darkslategray;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .unicode::before {
    content: '\2714 \fe0e';
    color: green;
} */

.unicode {
    color: darkslategray;
}

/* my plans */
.head {
    margin: 0 auto;
    max-width: 1140px;
    font-weight: 900;
    font-size: 40px;
    color: black;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.my-plans {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.plan-head {
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.plan-des {
    font-weight: 300;
    font-size: 20px;
    color: darkslategray;
}
/* mindset */
.mind{
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left;
    background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mindset-head{
    color: white;
    font-weight: 600;
    font-size: 55px;
    margin-top: 37px;
    margin-left: 37px;
    margin-bottom: 15px;
}
.btn{
    margin-left: 37px;
    margin-bottom: 37px;
}
/* about me */
.about{
    max-width: 1140px;
    margin: 0 auto;
    background-color: lightcyan;
    text-align: center;
}
.title{
    padding-top: 30px;
    padding-bottom:15px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.des{
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}
.about-info-cont{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: purple;
}
.info-des{
    font-size: 20px;
    color: darkslategray;
}
/* contact */
.contact{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    background-color: black;
    margin-top: 150px;
    padding: 130px 200px;
}
.contact .contact-cont{
    text-align: left;
}
.contact-head{
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 45px;
}
.contact-des{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.contact-info{
    color: white;
    margin-bottom: 10px;
}
.icons a{
    text-decoration: none;
}
.icons{
    display: flex;
    gap: 30px;
}
.subs{
    color: white;
    font-size: 30px;   
    font-weight: 300;
}
.inp input[type="email"]{
    background-color: black;
    border-color: beige;
    width: 100%;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-n{
    color: #F15B22;
    background-color: white;
    border-radius: 5%;
    padding: 16px 35px;
    font-size: 18px;
}